* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}


.section-title {
    text-align: center;
    margin: 30px 0 18px;
    font-size: 18px;
}


.tableau-produits {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.produit {
    flex: 1 1 300px;
}

.produit img {
    width: 100%;
    height: 260px;
    display: block;
    object-fit: cover;
    border-radius: 15px;
    border: solid 2px #bfbfbf;
}

.info {
    padding: 12px;
}

.info h4 {
    margin-bottom: 8px;
    font-size: 15px;
}

.price {
    color: #666;
    margin-bottom: 8px;
}

.panier {
    background: #fff;
    border: 1px solid #bfbfbf;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 8px;
}

.contact-container {
    .contact {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .contact label {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        color: #333;
    }

    .contact input,
    .contact textarea {
        padding: 10px;
        border: 1px solid #e6e6e6;
    }

    .envoyer {
        display: inline-block;
        background: #d9ccff;
        padding: 10px 14px;
        color: #111;
        text-decoration: none;
        border-radius: 3px;
        border: 0;
        cursor: pointer;
    }
}


.news {
    background: #f3f3f3;
    padding: 30px 0;
    margin-top: 40px;
}

.annonce {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.forme {
    display: flex;
    gap: 8px;
}

.forme input {
    padding: 10px;
    border: 1px solid #e6e6e6;
}

.boutton {
    background: #111;
    color: #fff;
    border: 0;
    padding: 10px 14px;
    cursor: pointer;
}
.boutton :hover {
    color:black;
    background-color: #fff;
}


@media (max-width: 768px) {
    .tableau-produits {
        gap: 12px;
    }

    .produit {
        flex: 1 1 100%;
    }

    .produit img {
        width: 75%;
        height: 75%;

    }
}